################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/PlayBowling/.vs/PlayBowling/FileContentIndex
/.gitignore
